.DS_Store
Thumbs.db
.nvimlog
.local/
tmp/
.vscode

# uv-managed virtual environment
.venv/
uv.lock

# Python cache
__pycache__/
*.pyc

home/.config/ooodnakov/local/*.zsh
home/.config/ooodnakov/local/*.ps1
home/.config/ooodnakov/local/*.lua
home/.config/ooodnakov/local/*.ssh
home/.config/ooodnakov/local/agents/data.json
home/.config/ooodnakov/cache/*
home/.config/nvim/.neoconf.json
home/.config/zsh/.zsh_history
home/.config/zsh/.zshenv
home/.config/zsh/.zcompdump*
home/.glzr/glazewm/errors.log
home/.glzr/zebar/errors.log

.zcompdump*


.history

#ai
.codex
.qwen
.gemini


home/.config/ooodnakov/local/bw-session
pwsh_dir/
pwsh.tar.gz

config.sublime-workspace
config.sublime-project
