.DS_Store
Thumbs.db
.nvimlog
.local/
tmp/

home/.config/ooodnakov/local/*.zsh
home/.config/ooodnakov/local/*.ps1
home/.config/ooodnakov/local/*.lua
home/.config/ooodnakov/local/*.ssh
home/.config/nvim/lazy-lock.json
home/.config/nvim/.neoconf.json
home/.config/nvim/lazyvim.json
home/.config/zsh/.zsh_history
home/.config/zsh/.zshenv
home/.config/zsh/.zcompdump*

.zcompdump*


.history

#ai
.codex
.qwen


*/__pycache__/*

**/bw-session