layout {

    focus-ring {
        active-color   "#2b291b"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#2b291b"
        inactive-color "#000000"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#2b291b"
        inactive-color "#252201"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#fff59b80"
    }
}

recent-windows {
    highlight {
        active-color "#2b291b"
        urgent-color "#fd4663"
    }
}
