layout {

    focus-ring {
        active-color   "#fe8019"
        inactive-color "#000000"
        urgent-color   "#fb4934"
    }

    border {
        active-color   "#fe8019"
        inactive-color "#000000"
        urgent-color   "#fb4934"
    }


    tab-indicator {
        active-color   "#fe8019"
        inactive-color "#642d00"
        urgent-color   "#fb4934"
    }

    insert-hint {
        color "#fe801980"
    }
}

recent-windows {
    highlight {
        active-color "#fe8019"
        urgent-color "#fb4934"
    }
}
