// Output configuration.
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-2" {
    mode "2560x1440@239.970"
    position x=0 y=0
    scale 1.0
    variable-refresh-rate on-demand=true
}

output "DP-1" {
    mode "2560x1440@144"
    position x=2560 y=0
    scale 1.0
    variable-refresh-rate
}
